{% extends 'base.html.twig' %}

{% block title %}À propos - {% endblock %}

{% block body %}
    <main>

        <div class="container">
            <h1 class="mb-3 mt-4 ">À propos</h1>
            <div class="row">

                <div class="col-md-6">
                    <img src="/Assets/images/Apropos/Garage_auto.jpg"
                         class="img-fluid mb-3" alt="Garage V. Parrot">

                    <div class="d-flex justify-content-center">

                        <a href="{{ path('products_index') }}"
                           class="text-decoration-none">
                     <span>
                         <button class="btn btn-danger mt-2 m-4">
                         <i class=""></i>
                         Commençons, ensemble !
                         </button>
                     </span>
                        </a>
                    </div>

                </div>

                <!--
                <div class="col-md-6">
                    <h2>Garage V. Parrot</h2>

                    <p>
                        Vincent Parrot, fort de ses 15 années d'expérience dans la réparation automobile,
                        a ouvert son propre garage à Toulouse en 2021. Depuis 2 ans,
                        il propose une large gamme de services : réparation de la carrosserie et de
                        la mécanique des voitures ainsi que leur entretien régulier pour garantir leur
                        performance et leur sécurité. De plus, le Garage V. Parrot met en vente des
                        véhicules d'occasion afin d'accroître son chiffre d'affaires.</p>

                    <p>
                        Vincent Parrot considère son atelier comme un véritable lieu de confiance pour
                        ses clients et leurs voitures doivent, selon lui, à tout prix être entre de
                        bonnes mains. Bien qu'il fournisse grâce à ses employés un service de qualité
                        et personnalisé à chaque client, Vincent Parrot reconnaît qu'il doit être
                        visible sur internet s'il veut se faire définitivement une place parmi la
                        concurrence. Il a donc contacté l’agence de création de sites web dont vous
                        faites partie pour un premier devis, qu'il a accepté. Vous aurez alors pour
                        mission de créer une application web vitrine pour le Garage V. Parrot,
                        en mettant en avant la qualité des services délivrés par cette récente
                        entreprise.</p>

                </div>
                -->

                <div class="col-md-6">
                    <h2>Garage V. Parrot</h2>

                    <p>
                        Bonjour, je suis Vincent Parrot, et je suis ravi de vous accueillir dans mon garage à Toulouse,
                        un projet que j'ai chéri et qui a vu le jour en 2021. Avec plus de 15 ans d'expérience dans
                        la réparation automobile, je mets à votre disposition un savoir-faire acquis au fil des années.
                    </p>

                    <p>
                        Mon équipe et moi-même vous proposons une gamme complète de services, allant de la réparation
                        de carrosserie à la mécanique, en passant par l'entretien régulier. Notre objectif : garantir
                        la performance et la sécurité de votre véhicule. De plus, nous avons une sélection de véhicules
                        d'occasion à vendre, contribuant ainsi à notre succès grandissant.
                    </p>

                    <p>
                        Pour moi, mon atelier est bien plus qu'un simple garage. C'est un lieu de confiance où nous
                        prenons soin de chaque voiture comme si c'était la nôtre. Nos employés fournissent un service
                        de qualité, personnalisé à chaque client. Je suis convaincu que chaque véhicule doit être entre
                        de bonnes mains, et c'est pourquoi nous travaillons dur chaque jour pour vous offrir le meilleur
                        service possible.
                    </p>

                   <!-- <p>
                        J'ai bien conscience que pour vous, nos précieux clients, trouver des informations sur
                        notre garage en ligne est essentiel. C'est pourquoi j'ai décidé de faire appel à l'agence
                        de création de sites web à laquelle vous avez la chance de prendre part. Vous avez pour mission
                        de créer une vitrine web pour le Garage V. Parrot, mettant en avant la qualité de nos services.
                        Je suis impatient de voir le résultat de votre travail, car je suis convaincu que cela nous
                        permettra de nous démarquer encore plus dans ce secteur concurrentiel.</p> -->
                </div>


            </div>
        </div>

    </main>
{% endblock %}
