{% extends 'base.html.twig' %}

{% block title %}À propos - {% endblock %}

{% block body %}
    <main>

        <div class="container">
            <h1 class="mb-3 mt-4 ">À propos</h1>
            <div class="row">

                <div class="col-md-6">
                    <img src="/Assets/images/Apropos/Garage_auto.jpg"
                         class="img-fluid mb-3" alt="Garage V. Parrot">
                </div>

                <div class="col-md-6">
                    <h2>Garage V. Parrot</h2>

                    <p>
                        Vincent Parrot, fort de ses 15 années d'expérience dans la réparation automobile,
                        a ouvert son propre garage à Toulouse en 2021. Depuis 2 ans,
                        il propose une large gamme de services : réparation de la carrosserie et de
                        la mécanique des voitures ainsi que leur entretien régulier pour garantir leur
                        performance et leur sécurité. De plus, le Garage V. Parrot met en vente des
                        véhicules d'occasion afin d'accroître son chiffre d'affaires.</p>

                    <p>
                        Vincent Parrot considère son atelier comme un véritable lieu de confiance pour
                        ses clients et leurs voitures doivent, selon lui, à tout prix être entre de
                        bonnes mains. Bien qu'il fournisse grâce à ses employés un service de qualité
                        et personnalisé à chaque client, Vincent Parrot reconnaît qu'il doit être
                        visible sur internet s'il veut se faire définitivement une place parmi la
                        concurrence. Il a donc contacté l’agence de création de sites web dont vous
                        faites partie pour un premier devis, qu'il a accepté. Vous aurez alors pour
                        mission de créer une application web vitrine pour le Garage V. Parrot,
                        en mettant en avant la qualité des services délivrés par cette récente
                        entreprise.</p>

                </div>
            </div>
        </div>

    </main>
{% endblock %}
