{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}



    <main>

        <section class="position-relative">

            <div class="container-fluid py-5 py-lg-0">
                <div class="row d-flex align-items-center ">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">

                            <!-- Mobile -->
                            <img class="img-fluid d-lg-none w-100 h-100"
                                 src="/Assets/images/Login page/Fond_Login_Mobile_page.png"
                                 alt="Fond_Login_Mobile">
                        </div>

                        <!-- Desktop -->
                        <div>
                            <img class=" d-none d-lg-block w-100 h-100"
                                 src="/Assets/images/Login page/Fond_Login_Desktop_page_etoile.png"
                                 alt="Fond_Voiture_homepage_desktop">
                            <p class="h1 mb-2 mx-1 mt-4 d-none d-lg-block">

                                Quoi de mieux, que de<br> commencer sa journée, par....</p>
                            <p class="mb-2 mx-1 mt-4 d-none d-lg-block">
                                Le garage V. Parrot, une expérience unique, avec des experts
                                dans tout<br> les domaines, pour vous offrir une vision totale.
                            </p>

                            <div class="">
                                <img class=" d-none d-lg-block staff-members"
                                     src="/Assets/images/Login page/Staff_members.png"
                                     alt="Staff_members">
                                </img>
                                <p class="d-none d-lg-block staff-members-text">Les membres du staff</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 p-5" style="position: relative; z-index: 1;">
                        <form
                                id="login-form"
                                class="was-validated"

                                method="POST">

                            <!-- Logo Login -->
                            <img
                                    src="/Assets/images/Login page/Login_logo.png"
                                    width="80"
                                    height="auto"
                                    alt="Login_logo"
                                    class="m-2">
                            <!-- Se connecter -->
                            <div>
                                <p class="h1 fw-bold mb-2 mx-1 mt-4">Réinitialisation de mot de passe</p>
                                <p class="fw-thin mb-5 mx-1 mt-4">
                                    Uniquement les utilisateurs certifiés,<br> peuvent réinitialiser leur mot de passe.</p>

                            </div>

                            {{ form_start(passForm) }}
                            {{ form_row(passForm.password) }}
                          <button type="submit" class="btn btn-danger btn-lg btn-block w-100 my-3">Envoyer</button>
                            {{ form_end(passForm) }}

                        </form>

                    </div>

                </div>
            </div>
        </section>

    </main>



{% endblock %}
