{% extends 'base.html.twig' %}

{% block title %}Accueil - {% endblock %}

{% block body %}

    <main>



        <!-- Titre d'intro de la homepage -->
        <div class="container-fluid p-0 text-light position-relative">
            <h1 class="position-absolute top-0 start-0 m-3">
                <span class="fw-bold">Le Garage V. Parrot,</span>
                <span class="fw-bolder">pensez</span>
                <span class="fw-light">différemment.</span>
                <span class="fw-bolder">Louez</span>
                <span class="fw-light">différemment...</span>
            </h1>



            <!-- Image de fond, version desktop & mobile -->
            <img class="img-fluid d-lg-none" width="100%" height="auto"
                 src="/Assets/images/Homepage/Fond_Voiture_homepage_mobile.jpg"
                 alt="Fond_Voiture_homepage_mobile">
            </img>
            <img class="img-fluid d-none d-lg-block" width="100%" height="auto"
                 src="/Assets/images/Homepage/Fond_Voiture_homepage_desktop.png"
                 alt="Fond_Voiture_homepage_desktop">
            </img>

            <!-- Bouton qui envois sur la page "à propos" -->
            <div class="position-relative">
                <h2 class="position-absolute bottom-100 start-50 translate-middle text-center mt-n5">
                    <span class="">Cliquez ici,</span>
                    <br>
                    <a href="/Apropos"
                       class="col-md-4 d-flex align-items-center justify-content-start mb-3 mb-md-0
            me-md-autolink-body-emphasistext-decoration-none position-absolute bottom-30 top-50
            start-50 translate-middle">
                        <!-- Mobile Bouton -->
                        <img
                                src="/Assets/images/Homepage/Bouton_Voiture_mobile.png"
                                class="img-fluid d-lg-none d-block"
                                width="60"
                                height="auto"
                                alt="Bouton Voiture">
                        <!-- Desktop Bouton -->
                        <img
                                src="/Assets/images/Homepage/Bouton_Voiture_desktop.png"
                                class="img-fluid d-none d-lg-block"
                                width="300"
                                height="auto"
                                alt="Bouton Voiture2">
                    </a>
                    <br>
                    <span class="">pour en savoir plus</span>
                </h2>
            </div>
        </div>
    </main>

{% endblock %}
