/* Titre */

div.container {
        h1 {
            color: $color-primary_black;
            text-align: start;
            // font-size: 24px;
            font-family: $font-headline;
            font-weight: 700;
            // line-height: 25px;
            letter-spacing: 0.30px;
            margin-bottom: 20px;
        }
        h2 {
            color: $color-primary_black;
            text-align: start;
            // font-size: 24px;
            font-family: $font-headline;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0.30px;
            margin-bottom: 20px;
        }
}

/* Texte p */
body > main > div > div > div > p {
        color: $color-primary_black;
        text-align: start;
        font-size: 13px;
        font-family: $font-text;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.30px;
}
